In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.head()
print(train_data)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [3]:
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
###import the libraries

train_data_path = "/kaggle/input/titanic/train.csv"
###variable for the trained data

trainer_data = pd.read_csv(train_data_path)
y = trainer_data.Survived

###Target Prediction
features = ['Pclass', 'Age', 'Fare','Sex', 'Embarked']
X = trainer_data[features]

###Getting rid of missing values
numerical_transformer = SimpleImputer(strategy='mean')
###For the categorical Data
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])
###
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, ['Pclass', 'Age', 'Fare']),
        ('cat', categorical_transformer, ['Sex', 'Embarked'])
    ]
)

Titanic_model = RandomForestRegressor(random_state=1)

clf = Pipeline(steps=[('preprocessor', preprocessor),
                      ('Titanic_model', Titanic_model)
                     ])

# Split data into training and validation subsets
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=1)

# Preprocessing of training data, fitting model 
clf.fit(X_train, y_train)

# Preprocessing of validation data, get predictions
predictions = clf.predict(X_valid)

print(predictions)

[0.9        0.         0.933      0.8        1.         0.08
 0.         1.         0.29       0.92       0.         0.33
 0.33       0.097      0.70020413 0.499      0.09       0.
 0.01       0.824      0.4885     0.09       1.         0.
 0.21       0.06       1.         0.9        0.         1.
 0.31       0.665      0.59       0.17       0.015      0.22
 0.93       0.         0.45       0.08416667 0.32       0.48
 1.         0.18       0.9        0.         0.06       0.02333333
 0.73       0.43       0.53125    0.916      0.66       0.02
 0.17       0.54       0.06       0.02       0.155      0.33
 0.         0.16777381 0.02       0.27       0.19       0.1
 0.29       0.1        0.9        0.08966667 0.         0.
 0.43       0.         0.98       0.19       1.         0.
 0.16       1.         0.02       0.         0.         0.01
 0.84316667 0.17       0.         0.         0.19       0.85
 0.19       0.15291667 0.46       0.70020413 0.27       0.06666667
 0.01       0.82085714 0.07766667 0.         0.21       0.08
 0.67       0.13       1.         0.         0.13       0.14
 0.09       0.04166667 0.55       0.48       0.065      0.
 0.         0.02       0.05       0.23       0.98       0.
 0.92       0.44       0.         0.19       1.         1.
 0.9825     0.37636364 0.         0.         0.01       0.29416667
 0.92       0.36       0.67       1.         1.         0.19
 0.05       0.63       1.         0.09       1.         0.06
 0.         0.15       0.49       0.         0.52       0.
 0.95       0.04       0.18       0.39843434 0.08       0.5335
 0.01       0.         0.655      0.         0.         0.05
 0.56       0.61       0.01       0.21       0.949      0.08
 0.9275     0.38       1.         0.1        1.         0.15166667
 0.9        0.01       0.         0.39       0.9       ]